@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.navbar-brand.navbar-left img {
  height: 20px;
  width: auto; }

.appliance .price.well {
  margin-bottom: 0px; }

.profile .help-block.success {
  color: #2ab27b; }

body {
  padding-top: 70px; }

.row.columns-aligned {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }

.row.columns-aligned > [class*='col-'] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.gi-2x {
  font-size: 2em; }

.gi-3x {
  font-size: 3em; }

.gi-4x {
  font-size: 4em; }

.gi-5x {
  font-size: 5em; }

/*# sourceMappingURL=app.css.map */
