
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "header";
@import "appliance";
@import "profile";

// Bootstrap fixed navbar - Top space for navbar header.
body {
  padding-top: 70px;
}

// Component appliances - Allign rows
// * from "css - How can I make Bootstrap columns all the same height?": http://stackoverflow.com/a/19695851/2265487
.row.columns-aligned {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row.columns-aligned > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

// Glyphicons size Fontawesome-like
// * from "How Do I Make Glyphicons Bigger? (Change Size?)": http://stackoverflow.com/a/27158090/2265487)
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
